<div class=" lg:mt-28 mt-20">
    <swiper [config]="config"  class="mySwiper">
        <ng-template swiperSlide>
            <div
                class="z-0 hidden lg:block"
                style="width: 100vw; height: 100vh"
            >
                <img
                    src="../../../../../assets/images/homepage/he-ruc-ro-khoe-sac-het-co.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
            <div class="z-0 lg:hidden">
                <img
                    src="../../../../../assets/images/homepage/mobile/he-ruc-ro-khoe-sac-het-co-mobile.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div
                class="z-0 hidden lg:block"
                style="width: 100vw; height: 100vh"
            >
                <img
                    src="../../../../../assets/images/homepage/cung-taza-skin-clinic-nang-niu-nhan-sac-tron-ven.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
            <div class="z-0 lg:hidden">
                <img
                    src="../../../../../assets/images/homepage/mobile/cung-taza-skin-clinic-nang-niu-nhan-sac-tron-ven-mobile.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div
                class="z-0 hidden lg:block"
                style="width: 100vw; height: 100vh"
            >
                <img
                    src="../../../../../assets/images/homepage/taza-skin-clinic-doi-ngu-bac-si.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
            <div class="z-0 lg:hidden">
                <img
                    src="../../../../../assets/images/homepage/mobile/taza-skin-clinic-doi-ngu-bac-si-mobile.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div
                class="z-0 hidden lg:block"
                style="width: 100vw; height: 100vh"
            >
                <img
                    src="../../../../../assets/images/homepage/taza-skin-clinic-slider-chi-nhanh.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
            <div class="z-0 lg:hidden">
                <img
                    src="../../../../../assets/images/homepage/mobile/taza-skin-clinic-slider-chi-nhanh-mobile.jpg"
                    class="w-full h-full"
                    alt=""
                />
            </div>
        </ng-template>
    </swiper>

    <div class="flex flex-col lg:max-w-7xl lg:mx-auto lg:px-8">
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 lg:text-left text-center text-2xl font-bold uppercase relative pb-3"
                >
                    phòng khám da liễu, thẩm mỹ <br class="lg:hidden" />
                    công nghệ cao
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <div class="flex pt-5 lg:flex-row flex-col">
                <div class="lg:w-3/5">
                    <div class="video-container">
                        <iframe
                            class="pb-0 introvideo"
                            title="Giới Thiệu Về Taza Skin Clinic"
                            width="650"
                            height="470"
                            src="https://www.youtube.com/embed/pjgElO5jKOs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""
                        ></iframe>
                    </div>
                </div>
                <div
                    class="lg:w-2/5 lg:ml-5 ml-3 grid gird-cols-1 relative mt-5 pt-5 lg:mt-0 lg:pt-0 mr-3 lg:mr-0"
                >
                    <div class="flex items-center mb-4">
                        <div class="w-1/3 text-center">
                            <img
                                src="../../../../../assets/images/homepage/icon/icon-KH.svg"
                                alt="Taza Skin Clinic Khach Hang Hai Long"
                                class="w-16 h-16"
                            />
                        </div>
                        <div class="w-2/3 counter">
                            Hơn 500.000 Khách Hàng Hài Lòng
                        </div>
                    </div>
                    <div class="flex items-center mb-4">
                        <div class="w-1/3 text-center">
                            <img
                                src="../../../../../assets/images/homepage/icon/icon-Star.svg"
                                alt="Taza Skin Clinic Dang Cap 5 Sao"
                                class="w-16 h-16"
                            />
                        </div>
                        <div class="col-8">Đẳng Cấp 5 Sao</div>
                    </div>
                    <div class="flex items-center mb-4">
                        <div class="w-1/3 text-center">
                            <img
                                src="../../../../../assets/images/homepage/icon/icon-Tech.svg"
                                alt="Taza Skin Clinic Cong Nghe"
                                class="w-16 h-16"
                            />
                        </div>
                        <div class="col-8">Chuyển Giao 150+ Công Nghệ</div>
                    </div>
                    <div class="flex items-center mb-4">
                        <div class="w-1/3 text-center">
                            <img
                                src="../../../../../assets/images/homepage/icon/icon-Doctor.svg"
                                alt="Taza Skin Clinic Doi Ngu Bac Si"
                                class="w-16 h-16"
                            />
                        </div>
                        <div class="col-8">
                            Đội Ngũ Bác Sĩ Trên 10 Năm Kinh Nghiệm
                        </div>
                    </div>
                    <div class="flex items-center mb-4">
                        <div class="w-1/3 text-center">
                            <img
                                src="../../../../../assets/images/homepage/icon/icon-iso.svg"
                                alt="Taza Skin Clinic Uy Tin Chat Luong"
                                class="w-16 h-16"
                            />
                        </div>
                        <div class="col-8">
                            Hơn 5 Năm Giữ Vững Uy Tín Chất Lượng
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="m-auto">
                            <a
                                href="https://tazaskin.com/gioi-thieu/he-thong-phong-kham-chuyen-khoa-da-lieu-tham-my-cong-nghe-cao-uy-tin-hang-dau-viet-nam.html"
                                class="p-3 bg-blue-700 text-white rounded-lg"
                                >Tìm hiểu thêm</a
                            >
                        </div>
                    </div>
                    <div
                        class="lg:hidden absolute top-0 w-28 h-px bg-blue-700 left-1/2"
                        style="transform: translateX(-50%)"
                    ></div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 text-2xl font-bold uppercase relative pb-3"
                >
                    dịch vụ nổi bật
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <div
                class="pt-5 grid lg:grid-cols-4 grid-cols-2 gap-5 mx-3 lg:mx-0"
            >
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/tam-trang-sua-non-collagen-thumnail.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        tắm trắng collagen
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/tri-mun-triet-dau-bio-sharyn-thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        điều trị mụn
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/Hap-trang-Baby-Face-Thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        hấp trắng baby face
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/dot-pha-cong-nghe-filli-bio-tri-viem-nang-long.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        trị viêm nang lông
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/huy-mo-cap-toc-voc-dang-nuot-na-thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        hủy mỡ defat sline
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/new-prp-sach-tan-nhang-tan-goc-thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        điều trị tàn nhang
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/lieu-phap-tre-hoa-da-mesotherapy-thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        trẻ hóa da
                    </h2>
                </div>
                <div class="w-full h-48 flex flex-col items-center">
                    <img
                        src="../../../../../assets/images/homepage/dichvu/lanser-nano-plus-tri-tham-nach-mong-ben-thumb.webp"
                        alt=""
                    />
                    <h2 class="text-2xl uppercase font-bold py-3 text-center">
                        điều trị thâm
                    </h2>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 text-2xl font-bold uppercase relative pb-3"
                >
                    cảm nhận của khách hàng
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <swiper [config]="config"  class="mySwiper">
               
        
                <ng-template swiperSlide>
                    <div class="pt-5 flex flex-col lg:flex-row">
                        <div class="lg:w-1/2 h-full">
                            <img
                                src="../../../../../assets/images/homepage/kh-phan-thi-kim-ngan.webp"
                                class="h-full w-full"
                            />
                        </div>
                        <div class="lg:w-1/2 ml-5">
                            <div class="h-1/3">
                                <p class="font-bold pt-10 text-lg">
                                    Tên Khách Hàng: Phan Thị Kim Ngân
                                </p>
                            </div>
                            <div class="h-2/3 text-lg lg:pt-0 pt-5">
                                <p>
                                    “Mình tặng Taza 5 sao nha! Mình là khách hàng ở đây
                                    nhiều lần rồi, lần nào cũng ưng ý. Đợt này mình làm
                                    dịch vụ tắm trắng cũng rất hài lòng. Da giờ vừa
                                    trắng vừa mướt sờ lên rất thích. Còn có nhiều chương
                                    trình khuyến mãi nên không sợ đau ví, nhưng mà chất
                                    lượng mình thấy vẫn đảm bảo nha, không có bớt xén gì
                                    đâu. Ah, còn bác sĩ với mấy bạn nhân viên nữa cũng
                                    nhiệt tình và chu đáo lắm, lúc ra về còn dặn dò đủ
                                    thứ. Hy vọng Taza cứ giữ chất lượng tốt thế này mình
                                    sẽ ủng hộ dài dài.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="pt-5 flex flex-col lg:flex-row">
                        <div class="lg:w-1/2 h-full">
                            <img
                                src="../../../../../assets/images/homepage/kh-phan-thi-kim-ngan.webp"
                                class="h-full w-full"
                            />
                        </div>
                        <div class="lg:w-1/2 ml-5">
                            <div class="h-1/3">
                                <p class="font-bold pt-10 text-lg">
                                    Tên Khách Hàng: Phan Thị Kim Ngân
                                </p>
                            </div>
                            <div class="h-2/3 text-lg lg:pt-0 pt-5">
                                <p>
                                    “Mình tặng Taza 5 sao nha! Mình là khách hàng ở đây
                                    nhiều lần rồi, lần nào cũng ưng ý. Đợt này mình làm
                                    dịch vụ tắm trắng cũng rất hài lòng. Da giờ vừa
                                    trắng vừa mướt sờ lên rất thích. Còn có nhiều chương
                                    trình khuyến mãi nên không sợ đau ví, nhưng mà chất
                                    lượng mình thấy vẫn đảm bảo nha, không có bớt xén gì
                                    đâu. Ah, còn bác sĩ với mấy bạn nhân viên nữa cũng
                                    nhiệt tình và chu đáo lắm, lúc ra về còn dặn dò đủ
                                    thứ. Hy vọng Taza cứ giữ chất lượng tốt thế này mình
                                    sẽ ủng hộ dài dài.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
        
                <ng-template swiperSlide>
                    <div class="pt-5 flex flex-col lg:flex-row">
                        <div class="lg:w-1/2 h-full">
                            <img
                                src="../../../../../assets/images/homepage/kh-phan-thi-kim-ngan.webp"
                                class="h-full w-full"
                            />
                        </div>
                        <div class="lg:w-1/2 ml-5">
                            <div class="h-1/3">
                                <p class="font-bold pt-10 text-lg">
                                    Tên Khách Hàng: Phan Thị Kim Ngân
                                </p>
                            </div>
                            <div class="h-2/3 text-lg lg:pt-0 pt-5">
                                <p>
                                    “Mình tặng Taza 5 sao nha! Mình là khách hàng ở đây
                                    nhiều lần rồi, lần nào cũng ưng ý. Đợt này mình làm
                                    dịch vụ tắm trắng cũng rất hài lòng. Da giờ vừa
                                    trắng vừa mướt sờ lên rất thích. Còn có nhiều chương
                                    trình khuyến mãi nên không sợ đau ví, nhưng mà chất
                                    lượng mình thấy vẫn đảm bảo nha, không có bớt xén gì
                                    đâu. Ah, còn bác sĩ với mấy bạn nhân viên nữa cũng
                                    nhiệt tình và chu đáo lắm, lúc ra về còn dặn dò đủ
                                    thứ. Hy vọng Taza cứ giữ chất lượng tốt thế này mình
                                    sẽ ủng hộ dài dài.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        
           
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 text-2xl font-bold uppercase relative pb-3"
                >
                    đội ngũ bác sĩ
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <div class="pt-5">
                <div class="relative">
                    <img
                        src="../../../../../assets/images/homepage/taza-skin-clinic-bac-si-huynh-thanh-sang.webp"
                        class="w-full h-full lg:block hidden"
                    />
                    <img
                        src="../../../../../assets/images/homepage/mobile/taza-skin-clinic-bac-si-huynh-thanh-sang-mobile.webp"
                        class="w-full h-full lg:hidden"
                    />
                    <div
                        class="absolute lg:top-1/3 top-1/2 left-1/2 lg:w-2/3 w-1/2 text"
                    >
                        <h2
                            class="lg:text-3xl text-lg text-white font-bold uppercase border-l-2 border-blue-400 pl-3 lg:mb-24"
                        >
                            HUỲNH THANH SANG - BÁC SĨ CHUYÊN KHOA II
                        </h2>
                        <h3 class="text-white lg:text-2xl font-bold">
                            Chuyên gia da liễu, tạo hình thẩm mỹ
                        </h3>
                        <h3 class="text-white lg:text-2xl font-bold py-5">
                            Hơn 20 năm kinh nghiệm trong lĩnh vực phẫu thuật
                        </h3>
                        <h3 class="text-white lg:text-2xl font-bold">
                            Đã thực hiện hơn hàng trăm ca phẫu thuật trong và
                            ngoài nước
                        </h3>
                    </div>
                    <div
                        class="absolute lg:bottom-10 bottom-3 left-1/2 w-2/3"
                        style="transform: translate(-65%, 0%)"
                    >
                        <div class="flex lg:pt-24 pt-28">
                            <div
                                class="lg:w-24 lg:h-24 w-10 h-10 rounded-full mr-8"
                            >
                                <img
                                    src="../../../../../assets/images/homepage/bacsi/taza-skin-clinic-bac-si-huynh-thanh-sang-thumb.webp"
                                    alt=""
                                    class="w-full h-full bg-white rounded-full"
                                />
                            </div>
                            <div
                                class="lg:w-24 lg:h-24 w-10 h-10 rounded-full mr-8"
                            >
                                <img
                                    src="../../../../../assets/images/homepage/bacsi/taza-skin-clinic-bac-si-le-minh-hoai-thumb.webp"
                                    alt=""
                                    class="w-full h-full bg-white rounded-full"
                                />
                            </div>
                            <div
                                class="lg:w-24 lg:h-24 w-10 h-10 rounded-full mr-8"
                            >
                                <img
                                    src="../../../../../assets/images/homepage/bacsi/taza-skin-clinic-bac-si-pham-huu-tien-thumb.webp"
                                    alt=""
                                    class="w-full h-full bg-white rounded-full"
                                />
                            </div>
                            <div
                                class="lg:w-24 lg:h-24 w-10 h-10 rounded-full mr-8"
                            >
                                <img
                                    src="../../../../../assets/images/homepage/bacsi/taza-skin-clinic-bac-si-nguyen-thi-ngoc-mai-thumb.webp"
                                    alt=""
                                    class="w-full h-full bg-white rounded-full"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 text-2xl font-bold uppercase relative pb-3"
                >
                    típ làm đẹp
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <div class="pt-5 mx-3 lg:mx-0">
                <div class="lg:w-2/5">
                    <div class="relative pb-1">
                        <div class="flex items-center">
                            <div class="h-24 w-24">
                                <img
                                    src="../../../../../assets/images/homepage/tiplamdep/cac-loai-seo-ro-seo-lom.jpg"
                                    class="w-24 h-24 object-contain"
                                    alt=""
                                />
                            </div>
                            <div class="w-full ml-10">
                                <a
                                    href="#"
                                    class="text-black text-xl lg:text-right block"
                                    >Nhận diện các loại sẹo rỗ thường gặp</a
                                >
                            </div>
                        </div>
                        <div
                            class="absolute w-full h-px bottom-0 bg-black"
                        ></div>
                    </div>
                    <div class="relative pb-1">
                        <div class="flex items-center">
                            <div class="h-24 w-24">
                                <img
                                    src="../../../../../assets/images/homepage/tiplamdep/lan-kim-da-mat.jpg"
                                    class="w-24 h-24 object-contain"
                                    alt=""
                                />
                            </div>
                            <div class="w-full ml-10">
                                <a href="#" class="text-black text-xl block">
                                    Lăn kim là gì? Những điều cần biết về phương
                                    pháp lăn kim</a
                                >
                            </div>
                        </div>
                        <div
                            class="absolute w-full h-px bottom-0 bg-black"
                        ></div>
                    </div>
                    <div class="relative pb-1">
                        <div class="flex items-center">
                            <div class="h-24 w-24">
                                <img
                                    src="../../../../../assets/images/homepage/tiplamdep/lan-kim-bao-nhieu-tien.jpg"
                                    class="w-24 h-24 object-contain"
                                    alt=""
                                />
                            </div>
                            <div class="w-full ml-10">
                                <a href="#" class="text-black text-xl block"
                                    >Lăn kim giá bao nhiêu? Bảng giá lăn kim mới
                                    nhất</a
                                >
                            </div>
                        </div>
                        <div
                            class="absolute w-full h-px bottom-0 bg-black"
                        ></div>
                    </div>
                    <div class="relative pb-1">
                        <div class="flex items-center">
                            <div class="h-24 w-24">
                                <img
                                    src="../../../../../assets/images/homepage/tiplamdep/co-nen-di-nan-mun.jpg"
                                    class="w-24 h-24 object-contain"
                                    alt=""
                                />
                            </div>
                            <div class="w-full ml-10">
                                <a
                                    href="#"
                                    class="text-black text-xl lg:text-right block"
                                    >Có nên đi spa nặn mụn không?</a
                                >
                            </div>
                        </div>
                        <div
                            class="absolute w-full h-px bottom-0 bg-black"
                        ></div>
                    </div>
                    <div class="relative pb-1">
                        <div class="flex items-center">
                            <div class="h-24 w-24">
                                <img
                                    src="../../../../../assets/images/homepage/tiplamdep/lan-kim-tri-mun-bao-nhieu-lan.jpg"
                                    class="w-24 h-24 object-contain"
                                    alt=""
                                />
                            </div>
                            <div class="w-full ml-10">
                                <a href="#" class="text-black text-xl block"
                                    >Nhận diện các loại sẹo rỗ thường gặp</a
                                >
                            </div>
                        </div>
                        <div
                            class="absolute w-full h-px bottom-0 bg-black"
                        ></div>
                    </div>
                    <div class="w-full flex items-center justify-center pt-5">
                        <p
                            class="p-2 text-white w-24 text-center rounded-lg"
                            style="background-color: #006898"
                        >
                            Xem Thêm
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <h2
                    class="text-blue-700 text-2xl font-bold uppercase relative pb-3"
                >
                    tin tức & sự kiện
                    <div
                        class="absolute w-28 bottom-0 left-1/2 h-px bg-blue-700"
                        style="transform: translateX(-50%)"
                    ></div>
                </h2>
            </div>
            <div class="pt-5 flex lg:flex-row flex-col">
                <div class="lg:w-3/5 relative mx-3 lg:mx-0">
                    <img
                        src="../../../../../assets/images/homepage/tintuc/cong-nghe-prp.jpg"
                        class="w-full h-full"
                        alt=""
                    />
                    <div class="absolute bottom-5 px-5 w-full">
                        <div class="relative h-44">
                            <div class="lg:p-5 p-3 z-10 absolute top-2">
                                <div class="mb-5">
                                    <p
                                        class="bg-red-400 lg:w-28 text-xs lg:base w-20 text-center rounded-lg text-white p-1"
                                    >
                                        Tin Mới Nhất
                                    </p>
                                </div>
                                <h2
                                    class="lg:text-3xl text-2xl uppercase text-white"
                                >
                                    BẤT NGỜ VỚI PHƯƠNG PHÁP TRỊ SẸO RỖ BẰNG CÔNG
                                    NGHỆ PRP
                                </h2>
                                <div>
                                    <span class="text-white"
                                        >2021-04-01 04:45:38</span
                                    >
                                </div>
                            </div>
                            <div
                                class="absolute bg-black opacity-40 top-0 w-full h-full z-0"
                            ></div>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:w-2/5 flex lg:ml-5 lg:mr:0 mr-3 ml-3 bg-blue-700"
                >
                    <div
                        class="w-full px-5 py-10 flex flex-col justify-between"
                    >
                        <div class="">
                            <p class="text-white lg:text-2xl text-xl font-bold">
                                Review của KH dịch vụ trị nám tàn nhang tại Taza
                                Skin Clinic
                            </p>
                            <span class="text-white"> 2021-03-26 10:24:12</span>
                        </div>
                        <div class="lg:pt-0 pt-4">
                            <p class="text-white lg:text-2xl text-xl font-bold">
                                Báo CAFEF: 3 Lời khuyên về làn da cho phụ nữ sau
                                30
                            </p>
                            <span class="text-white"> 2021-03-26 04:56:10</span>
                        </div>
                        <div class="lg:pt-0 pt-4">
                            <p class="text-white lg:text-2xl text-xl font-bold">
                                Taza Skin Clinic: Thương hiệu thẩm mỹ uy tín 6
                                năm đồng hành cùng nhan sắc Việt
                            </p>
                            <span class="text-white"> 2021-03-26 04:30:46</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="bg-blue-700 w-full mt-10 flex items-center justify-center"
        style="height: 50vh"
    >
        <div class="rounded-lg" style="background-color: #0071bb">
            <div class="flex flex-col justify-between items-center p-5">
                <p class="text-white lg:p-5 lg:text-2xl text-lg uppercase">
                    Đặt lịch trực tuyến
                </p>
                <p class="text-white pt-5 lg:text-sm text-xs uppercase">
                    Nhanh tay đăng ký để nhận được nhiều ưu đãi nhất.
                </p>
                <button
                    class="text-blue-700 mt-5 bg-white p-3 rounded-lg flex items-center"
                >
                    <span class="material-icons mr-1 text-lg">
                        calendar_month
                    </span>
                    Đặt Lịch Hẹn
                </button>
                <p class="text-white pt-5 lg:text-2xl text-lg uppercase">
                    BẠN CẦN ĐƯỢC TƯ VẤN ?
                </p>
                <p class="text-white py-5 lg:text-sm text-xs uppercase">
                    Để lại thông tin để được tư vấn miễn phí
                </p>
                <button
                    class="text-blue-700 mb-5 bg-white p-3 rounded-lg flex items-center"
                >
                    <span class="material-icons mr-1 text-lg"> sms </span>
                    Yêu Cầu Tư Vấn
                </button>
            </div>
        </div>
    </div>
</div>
