<nav
    class="flex items-center flex-col justify-between w-full fixed z-20 "
>
    <div class="lg:flex hidden items-center justify-center  w-full py-2 " style="background-color: #0071BB;">
        <div>
            <p class="text-white text-sm ">08:00 - 19:00, Thứ 2 - CN (kể cả ngày lễ, Tết)</p>
        </div>
        <div>
            <p class="text-white uppercase text-lg mx-7">phòng khám chuyên khoa da liễu, thẩm mỹ công nghệ cao</p>
        </div>
        <div>
            <p class="text-white text-sm ">Hotline: 1900 2664</p>
            
        </div>
   </div>
   <div class="flex items-center justify-center bg-white  w-full py-2 ">
       <div class="w-16 h-16 mr-3">
        <img src="../../../../../assets/images/homepage/taza-skin-clinic-logo.svg"/>
       </div>
        <ul class="flex items-center justify-center">
          
            <li class="mx-3">
                <a class=" text-2xl">Giới Thiệu</a>
            </li>
            <li class="mx-3">
                <a class=" text-2xl">Dịch Vụ</a>
            </li>
            <li class="mx-3">
                <a class=" text-2xl">Tin Tức</a>
            </li>
            <li class="mx-3">
                <a class=" text-2xl">Khuyến Mãi</a>
            </li>
            <li class="mx-3">
                <a class=" text-2xl">Tip Làm Đẹp</a>
            </li>
            <li class="mx-3">
                <a class=" text-2xl">Chi Nhánh</a>
            </li>
        </ul>
   </div>
</nav>