<div class="lg:max-w-7xl lg:mx-auto lg:px-8 lg:mt-28 mt-20">
   <div class="pt-10">
    <div class="grid lg:grid-cols-4 md:grid-cols-2 gird-cols-1 gap-5">
        <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div><div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-400">
            <div class="">
                <img
                    src="../../../../../../assets/images/homepage/dichvu/cang-chi-collagen-4d-vlift-lop-dem-vung-chac-day-lui-lao-hoa-mobile.webp"
                    class="w-full h-full"
                />
            </div>
            <div class="text-xl p-5 h-40 font-bold">
                Căng chỉ collagen 4D V Lift - Lớp đệm đẩy lùi lão hóa
            </div>
            <div class="text-xl p-5 text-blue-400">Xem thêm</div>

        </div>
    </div>
   </div>
</div>
